{% extends "base.html" %}
{% block content %}
  <section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            FusionHub
        </a>
        <div class="w-full bg-white rounded-lg shadow md:mt-0 sm:max-w-md xl:p-0">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                    Password Reset Complete
                </h1>
                <p class="text-sm text-gray-700">
                    Your password has been successfully set. You may now log in with your new credentials.
                </p>
                <div class="mt-6">
                    <a href="{% url 'users:login' %}"
                       class="w-full inline-block text-center text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5">
                        Log in
                    </a>
                </div>
            </div>
        </div>
    </div>
  </section>
{% endblock content %}
