{% extends 'base.html' %}
{% block content %}
  <section class="bg-gray-50">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-2xl font-semibold text-gray-900">
            <img class="w-8 h-8 mr-2" src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/logo.svg" alt="logo">
            FusionHub    
        </a>
        <div class="w-full p-6 bg-white rounded-lg shadow md:mt-0 sm:max-w-md">
            <h2 class="mb-1 text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl">
                Change Password
            </h2>
            <form class="mt-4 space-y-4 lg:mt-5 md:space-y-5" method="post">
                {% csrf_token %}
                <div>
                    <label for="password" class="block mb-2 text-sm font-medium text-gray-900">{{ form.new_password1.label }}</label>
                    {{ form.new_password1 }}
                    {% for error in form.new_password1.errors %}
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <div>
                    <label for="confirm-password" class="block mb-2 text-sm font-medium text-gray-900">{{ form.new_password2.label }}</label>
                    {{ form.new_password2 }}
                    {% for error in form.new_password2.errors %}
                        <p class="mt-2 text-sm text-red-600 dark:text-red-500">{{ error }}</p>
                    {% endfor %}
                </div>
                <button type="submit" class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center">Reset passwod</button>
            </form>
        </div>
    </div>
  </section>
{% endblock %}